<h1>New Application</h1>

<%= simple_form_for @application do |f| %>
  <div>
    <%= f.input :job_d %>
  </div>

  <div>
    <%= f.input :cv, accept: 'application/pdf' %>
  </div>

  <div>
    <%= f.submit "Create Application" %>
  </div>
<% end %>
